<!-- Start Mobile Menu -->
#mobileMenu.visible-xs-block.visible-sm-block
	nav
		ul#mobile-nav.list-unstyled
			li.search-panel
				label Search
				input(placeholder="Search")
				button(class="btn", title="Search")
					span(class="icon icon-search-white")
			each item, x in header.menu2
				li.primary
					if item.subnav
						a.has-subnav(href='#{item.url}') #{item.title}
						ul.subnav
							each subitem, y in item.subnav
								li
									a(href='#{subitem.url}', data-href='#{subitem.url}', class='#{subitem.classes} mobile-nav__sub-nav-link') #{subitem.title}
					else
						a(href='#{item.url}', data-href='#{item.url}') #{item.title}
			each item, x in header.menu1
				if x == 0
					li.secondary.first-item
						if item.subnav
							a.has-subnav(href='#item.url') #{item.title}
							ul.subnav
								each subitem, y in item.subnav
									li
										a(href='#{subitem.url}', class='#{subitem.classes}') #{subitem.title}
						else
							a(href='#{item.url}') #{item.title}
				else
					li.secondary
						if item.subnav
							a.has-subnav(href='#item.url') #{item.title}
							ul.subnav
								each subitem, y in item.subnav
									li
										a(href='#{subitem.url}', class='#{subitem.classes}') #{subitem.title}
						else
							a(href='#{item.url}') #{item.title}
<!-- End Mobile Menu -->